## IDEA ##
out/
.idea/
*.iml

## Applications ##
run/
teamspeak3-server*/

## Gradle ##
.gradle
build/

## Plugins (Added using submodules) ##
plugins/

## Test output ##
logs/

# File managers #
.directory