<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="LogFile" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- Root logger / default log level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LogFile" />
        </Root>

        <!-- Console logging -->
        <Logger name="org.reflections.Reflections" level="warn">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.hibernate" level="warn">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="com.mchange" level="warn">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="de.fearnixx.jeak.teamspeak.query.Netlog" level="warn">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- File logging -->
        <Logger name="org.reflections.Reflections" level="info">
            <AppenderRef ref="LogFile" />
        </Logger>
        <Logger name="de.mlessmann.confort.lang" level="debug">
            <AppenderRef ref="LogFile" />
        </Logger>
        <Logger name="de.fearnixx.jeak" level="debug">
            <AppenderRef ref="LogFile" />
        </Logger>
        <Logger name="de.fearnixx.jeak.teamspeak.query.Netlog" level="info">
            <AppenderRef ref="LogFile" />
        </Logger>
    </Loggers>
</Configuration>