[Unit]
Description=Teamspeak 3 server bot framework
#After=

[Service]
User=t3serverbot
Group=t3serverbot
WorkingDirectory=/home/t3serverbot
LimitNOFILE=4096
PIDFile=/home/t3serverbot/t3serverbot.pid
ExecStart=/home/t3serverbot/t3serverbot_minimal_runscript.sh
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
